@{
    ViewData["Title"] = "Error";
}


<div class="bloque">
    <h1 class="text-danger">Error</h1>
    <p class="text-warning">@ViewBag.ErrorMessage</p>
    <p class="text-warning">Lo sentimos, pero no se pudieron obtener los datos de la API. Por favor, intente nuevamente más tarde.</p>
</div>
